.notifications {
    min-height: 4vh;
    font-size: 3vh;
}

.board {
    border-spacing: 0.8vmin;
    display: inline-block;
    padding-top: 0px;
    height: 65vh;
    overflow-y: auto;
}

.board td {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    height: 8vmin;
    width: 8vmin;
    text-align: center;
    font-size: 6vmin;
}
.board .gray {
    background-color: lightslategray;
}

.board .yellow {
    background-color: lightyellow;
}

.board .green {
    background-color: palegreen;
}

.game {
    text-align: center;
    width: 100%;
}

.game-area {
    display: inline-block;
    text-align: center;
    padding-left: calc(100vw - 100%);
}

.keyboard button {
    display:  inline-flex;
    padding: 4vmin;
    width: 4vmin;
    height: 4vmin;
    margin: 0.5vmin;
    justify-content: center;
    align-items: center;
    font-size: 4vmin;
}
