:root {
    --darkmode-background: #1a1a1a;
    --game-cell-width: min(13vmin, 8vh);
    --game-cell-fontsize: min(10.5vmin, 5.5vh);
    --key-width: min(4vw, 3.5vh);
    --key-height: 7vh;
}

html, body {
    margin: 0;
    font-family: Verdana, sans-serif;
    height: 100%;
    touch-action: manipulation;
}

.darkmode {
    background-color: var(--darkmode-background);
    color: white;
    border-color: white;
    border: none;
}

.titlebar {
    height: 6vh;
    width: 100vw;
    overflow: hidden;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.notifications-wrapper {
    display: inline-flex;
    height: 6vh;
    font-size: 3vmin;
    width: min(calc(100vw - 2*var(--game-cell-width)), 80vw);
    overflow: hidden;
    contain: strict;
    justify-content: center;
}

.notifications-text {
    margin-top: 1vh;
}

.board {
    border-spacing: 0.8vmin;
    display: inline-block;
    padding-top: 0px;
}

.board td {
    border-style: solid;
    border-width: 1px;
    height: var(--game-cell-width);
    width: var(--game-cell-width);
    text-align: center;
    font-size: var(--game-cell-fontsize);
}

.darkmode .board td {
    color: white;
}

.gray {
    background-color: lightslategray;
}

.yellow {
    background-color: #ffc40c;
}

.green {
    background-color: palegreen;
}

.darkmode .gray {
    background-color: slategray;
}

.darkmode .yellow {
    background-color: orange;
}

.darkmode .green {
    background-color: forestgreen;
}

.game {
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.game-area {
    display: inline-block;
    text-align: center;
    overflow-y: auto;
    padding-right: -calc(100vw - 100%);
    height: calc(100% - 10vh - 4 * var(--key-height));
}

.keyboard {
    vertical-align: bottom;
}

.keyboard button {
    border-width: 1px;
    border-color: white;
    border-style: solid;
    color: black;
    display:  inline-flex;
    padding: 0.8em 0.7em;
    width: var(--key-width);
    height: var(--key-height);
    margin: 0.05em;
    justify-content: center;
    align-items: center;
    font-size: min(3.5vh, 6vw);
}

.darkmode .keyboard button {
    border-width: 1px;
    border-color: white;
    color: white;
    background-color: #222222;
}

.darkmode .keyboard .gray {
    background-color: slategray;
}

.darkmode .keyboard .yellow {
    background-color: orange;
}

.darkmode .keyboard .green {
    background-color: forestgreen;
}

.option-button {
    border: none;
    width: calc(2*var(--game-cell-width)/5);
    height: calc(2*var(--game-cell-width)/5);
    margin: 0;
    margin-top: 1vh;
    padding: 0;
    vertical-align: top;
}

#toggle-darkmode {
    background: url( assets/dark-mode.svg );
    background-size: cover;
}

#reveal {
    background: url( assets/reveal.svg );
    background-size: cover;
}

#help {
    background: url( assets/help.svg );
    background-size: cover;
}

#restart {
    background: url( assets/reload.svg );
    background-size: cover;
}

#share {
    width: 30%;
    color: white;
    font-size: 3vmin;
    padding: 1vmin;
    background-color: seagreen;
    border: none;
}

#share:active {
    background-color: lightseagreen;
}

.inverted {
    filter: invert(1);
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: white;
    font-size: 4vh;
    align-items: center;
    align-content: center;
}

.darkmode .overlay {
    background-color: var(--darkmode-background);
}

.overlay-content {
    display:  inline-block;
    position: relative;
    width: 70%;
    text-align: center;
    padding: 5% 15% 0 15%;
    margin-top: 30px;
}

.darkmode .overlay-content {
    background-color: var(--darkmode-background);
}
